Bonjour {{ user.nom }} {{ user.prenom }},<br><br>

Vous votre profil vient d'être modifié par un administrateur du site. <br>
Voici vos nouvelles informations :<br><br>
Nom : {{ user.name }}<br>
Prenom : {{ user.firstName }}<br>
Email : {{ user.email }}<br>
Service : {{ user.service.nom }}<br>
Login : {{ user.username }}<br>
Mot de passe : Vos seul le connaissez<br><br>

Ce message à été envoyé automatiquement. Merci de ne pas y répondre.<br>
Si vous n'êtes pas au courant de ces modifications ou pour d'éventuels modification,
merci de nous contacter via le menu "support technique" de l'application ou directement à cette
adresse mail : contact@projet-zeus.fr.<br><br>

Pour vous connecter à l'application cliqué <a href="http://projet-zeus.fr">ici</a>
