<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Bibliothèque Zeus{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

		{% stylesheets 
                    'css/bootstrap.css'    
                    'bundles/zeussite/css/datepicker.css' 
                    'bundles/zeussite/css/index.css'
                    'bundles/zeussite/css/jquery.jscrollpane.css'
                    'bundles/zeussite/css/main.css'
                     'bundles/zeussite/css/select2.css'
                    'bundles/zeussite/css/select2-bootstrap.css'
                    'bundles/zeussite/css/style.css'
                    'bundles/zeussite/css/style_ca.css'  
                    filter='cssrewrite' 
                %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		{% javascripts
                    'js/jquery.js'
                    'js/bootstrap.js'
                    'bundles/zeussite/js/select2.js'
                    'bundles/zeussite/js/select2_locale_fr.js'
                    'bundles/zeussite/js/datepicker.js'
                    'bundles/zeussite/js/jquery.easing.1.3.js'
                    'bundles/zeussite/js/jquery.contentcarousel.js'
                    'bundles/zeussite/js/main.js'
                %}
    		<script type="text/javascript" src="{{ asset_url }}"></script>
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		{% endjavascripts %}

       {# <script src="bundles/zeussite/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> #}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    
        {% include '::menu.html.twig' %}
        
        <!-- Main jumbotron for a primary marketing message or call to action -->

        <div class="container">
            <div class="jumbotron">
                <!-- Block notification -->
                {% for flashMessage in app.session.flashbag.get('notification') %}
                    <div class="alert alert-{{flashMessage.class}}">
                        {{ flashMessage.message }}
                    </div>
                {% endfor %}
               
                <!-- Block container -->
                <div class="container container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

   {# <footer>
    	<p>&copy; Zeus 2013  -  <a href="#">Mention l&eacute;gale</a></p>
    </footer> #}


        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
