{# src/Zeus/SiteBundle/Resources/views/Traducteur/modifier.html.twig #}

<h3>Modifier un Traducteur</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.nom, "Nom du traducteur") }} {{ form_widget(form.nom) }} {{ form_errors(form.nom) }} <br />
    	{{ form_label(form.prenom, "Prenom du traducteur") }} {{ form_widget(form.prenom) }} {{ form_errors(form.prenom) }} <br />
    	{{ form_widget(form.modifier) }}
	</form>
</div>