{# src/Zeus/SiteBundle/Resources/views/TypeParution/ajouter.html.twig #}

<h3>Ajouter un Type de Parution</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.libelle, "Libellé") }} {{ form_widget(form.libelle) }} {{ form_errors(form.libelle) }} <br />
    	{{ form_widget(form.ajouter) }}
	</form>
</div>
