{# src/Zeus/SiteBundle/Resources/views/TypeParution/modifier.html.twig #}

<h3>Modifier un type de parution</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.libelle, "Libellé") }} {{ form_widget(form.libelle) }} {{ form_errors(form.libelle) }} <br />
    	{{ form_widget(form.modifier) }}
	</form>
</div>