{# src/Zeus/SiteBundle/Resources/views/Exemplaire/form_ajout.html.twig #}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}

<script type="text/javascript">
    
    function maj_edition_dispo()
    {
        idSousCategorie = $('form input[name=edition]').val();
        $('form input[name=edition]').val(0);
        idParution = $('#zeus_sitebundle_exemplaire_parution').val();
        $.ajax({
             type: "POST",
             url: Routing.generate('zeus_site_edition_dispo_ajax'),
             data : {idParution : idParution},
             success : function (data){
                /* $('#zeus_sitebundle_exemplaire_edition').empty();
                 $.each(data, function(i, item) {
                    if((idParution == 0 && i == 0) || (idParution != 0 && item.id == idParution)){
                        $('#s2id_zeus_sitebundle_exemplaire_edition .select2-chosen').html(
                                item.codeClassification + ' ' + item.intitule
                        );
                    }
                    $('#zeus_sitebundle_exemplaire_edition').append(
                        '<option value="' + item.id + '">' + item.codeClassification + ' ' + item.intitule +'</option>'
                    );
                 });*/
             }
        });          
    }	
    
    $(document).ready(function() {
        var edition = 0;
        $('form').append('<input type="hidden" name="edition" value="' + 0 + '" />');
        maj_edition_dispo();
        $("body").on('change', '#zeus_sitebundle_parution_categorie', maj_edition_dispo);
    });
</script>

<h1 class="h1Parution">Ajouter un exemplaire</h1>
<div class="well formulaire">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.codeReference) }} {{ form_widget(form.codeReference) }} {{ form_errors(form.codeReference) }} <br />
        {{ form_label(form.parution) }} {{ form_widget(form.parution) }} {{ form_errors(form.parution) }} <br />
        {{ form_label(form.edition) }} {{ form_widget(form.edition) }} {{ form_errors(form.edition) }} <br />
        {{ form_label(form.isDispo) }} {{ form_widget(form.isDispo) }} {{ form_errors(form.isDispo) }} <br />
    	{{ form_widget(form.ajouter) }}
	</form>
</div>
