{# src/Zeus/SiteBundle/Resources/views/Exempalire/tableau.html.twig #}

<h1>Liste des exemplaires</h1>

{% if pagination|length > 0 %}

    <div class="count">
            Nombre : {{ pagination.getTotalItemCount }}
    </div>

    <table>
        <thead>
            <tr>
                <th>Actions</th>
               {# <th>Date Ajout</th> #}
                <th>{{ knp_pagination_sortable(pagination, 'Code référence', 'exemplaire.codeReference') }}</th>
                <th>Parution</th>
                <th>Editeur</th>
                <th>Numéro d'édition</th>
                <th>Date d'édition</th>
            </tr>
        </thead>
        <tbody>
            {% for exemplaire in pagination %}  
            <tr>
                <td class="nowrap">
                    <a href="{{ path('zeus_site_exemplaire_suppr', { 'idExemplaire': exemplaire.id }) }}">
                        <img alt="supprimer" src="{{ asset('bundles/zeussite/img/icons/cross.png') }}" />
                    </a>
                    <a href="{{ path('zeus_site_exemplaire_modif', { 'idExemplaire': exemplaire.id }) }}">
                        <img alt="edit" src="{{ asset('bundles/zeussite/img/icons/pencil.png') }}" />
                    </a>
                     <a href="{{ path('zeus_site_exemplaire_affich', { 'idExemplaire': exemplaire.id }) }}">
                         <img alt="visualiser" src="{{ asset('bundles/zeussite/img/icons/zoom.png') }}" />
                    </a>
                </td>
               {# <td>{{ exemplaire.dateAjout|date("d/m/Y") }}</td> #} 
                <td>{{ exemplaire.codeReference }}</td> 	
                <td>{{ exemplaire.edition.parution.titre }}</td> 	
                <td>{{ exemplaire.edition.editeur.nom }}</td> 
                <td>{{ exemplaire.edition.numero }}</td> 
                <td>{{ exemplaire.edition.date|date("d/m/Y") }}</td> 
            </tr>
            {% endfor %}  
        </tbody>
		{# <tfoot>
		<tr>
			<td colspan="3">{{ form_widget(form.enregistrer) }}</td>
		</tr>
		</tfoot>#}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% else %}
    <div>Aucune exemplaire</div>
{% endif %}