{# src/Zeus/SiteBundle/Resources/views/Edition/form_ajout.html.twig #}

{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock %}

<h1 class="h1Parution">Ajouter un Editeur</h1>
<div class="well formulaire">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.numero) }} {{ form_widget(form.numero) }} {{ form_errors(form.numero) }} <br />
    	{{ form_label(form.date) }} {{ form_widget(form.date) }} {{ form_errors(form.date) }} <br />
        {{ form_label(form.parution) }} {{ form_widget(form.parution) }} {{ form_errors(form.parution) }} <br />
        {{ form_label(form.editeur) }} {{ form_widget(form.editeur) }} {{ form_errors(form.editeur) }} <br />
    	{{ form_widget(form.ajouter) }}
	</form>
</div>
