{# src/Zeus/SiteBundle/Resources/views/Service/ajouter.html.twig #}

<h3>Ajouter un Service</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.nom, "Nom du Service") }} {{ form_widget(form.nom) }} {{ form_errors(form.nom) }} <br />
    	{{ form_widget(form.ajouter) }}
	</form>
</div>
