{# src/Zeus/SiteBundle/Resources/views/Service/ajouter.html.twig #}

<h1 class="h1Parution">Ajouter un Service</h1>
<div class="well formulaire">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.nom, "Nom du Service") }} {{ form_widget(form.nom) }} {{ form_errors(form.nom) }} <br />
    	{{ form_widget(form.ajouter) }}
	</form>
</div>
