{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}
    {% block content %}
        <div id="connexion">
            <h1>Page d'authentification</h1>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans }}</label><br/>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br/>

                <label for="password">{{ 'security.login.password'|trans }}</label><br/>
                <input type="password" id="password" name="_password" required="required" /><br/><br/>

                <input type="checkbox" id="remember_me" name="_remember_me" class="centrer" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <br/>
                
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary centrer" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
    {% endblock %}
{% endblock fos_user_content %}
