{# src/Zeus/SiteBundle/Resources/views/Groupe/modifier.html.twig #}

<h3>Modifier un Groupe</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.nom, "Nom du Groupe") }} {{ form_widget(form.nom) }} {{ form_errors(nom) }} <br />
    	{{ form_widget(form.modifier) }}
	</form>
</div>