{# src/Zeus/SiteBundle/Resources/views/Groupe/tableau.html.twig #}

<h1>Liste des groupes</h1>

{% if groupes|length > 0 %}
<table>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
            {% for groupe in groupes %}  
            <tr>
                <td>
                    <a href="{{ path('zeus_site_groupe_suppr', { 'idGroupe': groupe.id }) }}">
                        <img alt="edit" src="{{ asset('bundles/zeussite/img/icons/delete.png') }}" />
                    </a>
                    <a href="{{ path('zeus_site_groupe_modif', { 'idGroupe': groupe.id }) }}">
                        <img alt="edit" src="{{ asset('bundles/zeussite/img/icons/pencil.png') }}" />
                    </a>
                </td>
                <td>{{ groupe.nom }}</td> 
            </tr>
            {% endfor %}  
        </tbody>
		{# <tfoot>
		<tr>
			<td colspan="3">{{ form_widget(form.enregistrer) }}</td>
		</tr>
		</tfoot>#}
    </table>
{% else %}
    <div>Aucun groupe</div>
{% endif %}