{# src/Zeus/SiteBundle/Resources/views/Parution/ajouter.html.twig #}

<h3>Ajouter une Parutionr</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.titre, "Titre") }} {{ form_widget(form.titre) }} {{ form_errors(form.titre) }} <br />
    	{{ form_label(form.resume, "Resumé") }} {{ form_widget(form.resume) }} {{ form_errors(form.resume) }} <br />
    	{{ form_label(form.auteurs, "Auteur(s)") }} {{ form_widget(form.auteurs) }} {{ form_errors(form.auteurs) }} <br />
    	{{ form_label(form.imageParution, "Image") }} {{ form_widget(form.imageParution) }} {{ form_errors(form.imageParution) }} <br />
    	{{ form_label(form.type, "Type") }} {{ form_widget(form.type) }} {{ form_errors(form.type) }} <br />
    	{{ form_label(form.isActif, "Actif") }} {{ form_widget(form.isActif) }} {{ form_errors(form.isActif) }} <br />
    	{{ form_widget(form.ajouter) }}
	</form>
</div>
