{# src/Zeus/SiteBundle/Resources/views/Parution/modifier.html.twig #}


{% block stylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
    <script src="{{ asset('bundles/zeussite/js/fonctions_formulaires.js') }}" type="text/javascript"></script>
{% endblock %}

<script type="text/javascript">
    
    $(document).ready(function() {
        
        route = 'zeus_site_sous_categorie_dispo_ajax';
        select_categorie = 'zeus_sitebundle_parution_categorie';
        select_sous_categorie = 'zeus_sitebundle_parution_sousCategorie'
        sous_cat = $('#' + select_sous_categorie).val();
        
        maj_select(route, select_categorie, select_sous_categorie, sous_cat);
        
        $("body").on('change', '#zeus_sitebundle_parution_categorie', function(){
            maj_select(route, select_categorie, select_sous_categorie, 0);
        });
    });
   
</script>

    <h1 class="h1Parution">Modifier une Parution</h1>
    <div class="well formulaire">
	<form method="post" {{ form_enctype(form) }}>
    	{#{{ form_label(form.titre, "Titre") }} {{ form_widget(form.titre) }} {{ form_errors(form.titre) }} <br />
    	{{ form_label(form.resume, "Résumé") }} {{ form_widget(form.resume) }} {{ form_errors(form.resume) }} <br />
        {{ form_label(form.auteurs, "Auteur(s)") }} {{ form_widget(form.auteurs) }} {{ form_errors(form.auteurs) }} <br />
    	{{ form_label(form.traducteurs, "Traducteurs") }} {{ form_widget(form.traducteurs) }} {{ form_errors(form.traducteurs) }} <br />
        {{ form_label(form.categorie, "Catégorie") }} {{ form_widget(form.categorie) }} {{ form_errors(form.categorie) }} <br />
        {{ form_label(form.sousCategorie, "Sous catégorie") }} {{ form_widget(form.sousCategorie) }} {{ form_errors(form.sousCategorie) }} <br />
    	{{ form_label(form.imageParution, "Image") }} {{ form_widget(form.imageParution) }} {{ form_errors(form.imageParution) }} <br />
        {{ form_label(form.type, "Type") }} {{ form_widget(form.type) }} {{ form_errors(form.type) }} <br />
    	{{ form_widget(form.modifier) }}#}
                 {{ form_widget(form) }}
	</form>
    </div>
