{# src/Zeus/SiteBundle/Resources/views/Editeur/tableau.html.twig #}

<h1>Liste des éditeurs</h1>

{% if pagination|length > 0 %}

    <div class="count">
        Nombre : {{ pagination.getTotalItemCount }}
    </div>

    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nom', 'editeur.nom') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for editeur in pagination %}  
                <tr>
                    <td class="nowrap">
                        <a href="{{ path('zeus_site_editeur_suppr', { 'idEditeur': editeur.id }) }}">
                            <img alt="supprimer" src="{{ asset('bundles/zeussite/img/icons/cross.png') }}" />
                        </a>
                        <a href="{{ path('zeus_site_editeur_modif', { 'idEditeur': editeur.id }) }}">
                            <img alt="edit" src="{{ asset('bundles/zeussite/img/icons/pencil.png') }}" />
                        </a>
                        <a href="{{ path('zeus_site_editeur_affich', { 'idEditeur': editeur.id }) }}">
                            <img alt="visualiser" src="{{ asset('bundles/zeussite/img/icons/zoom.png') }}" />
                         </a>
                    </td>
                    <td>{{ editeur.nom }}</td> 
                </tr>
            {% endfor %}  
        </tbody>
        {# <tfoot>
        <tr>
                <td colspan="3">{{ form_widget(form.enregistrer) }}</td>
        </tr>
        </tfoot>#}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% else %}
    <div>Aucun auteur</div>
{% endif %}