{# src/Zeus/SiteBundle/Resources/views/Auteur/ajouter.html.twig #}

<h3>Ajouter un Auteur</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
    	{{ form_label(form.nom, "Nom de l'auteur") }} {{ form_widget(form.nom) }} {{ form_errors(form.nom) }} <br />
    	{{ form_label(form.prenom, "Prenom de l'auteur") }} {{ form_widget(form.prenom) }} {{ form_errors(form.prenom) }} <br />
    	{{ form_widget(form.ajouter) }}
	</form>
</div>
